.notes__main-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.notes__appbar{
    align-items: center;
    background-color:$back ;
    color:$dark-grey;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;

    
}
.notes__title{
    text-align: center;
    margin-top: 40px;
}
.notes__content{
    display: flex;
    height: 100%;
    padding: 20px;
}
.notes__content-image{
    margin-top: 30px;
    margin-right: 100px;
}
.notes__note{
    margin-top: 30px;
}
.notes__title-input,.notes__textarea{
border:none;

&:focus{
    outline: none;
}
}
.notes__title-input{
    color: $dark-grey;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}
.notes__textarea{
    border:2px solid $primary;
    border-radius: 10px;
    color: $dark-grey;
    font-size: 20px;
    flex: 1 1 auto;
    resize: none;
    width: 300px;
}
.notes__image img{
box-shadow:5px 5px $dark-grey ;
width: 350px;
}